---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

if (session) {
  return Astro.redirect("/dashboard");
} else {
  return Astro.redirect("/login");
}
---

<p>Hey, something's not right.</p>
